.appointments-list {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointments-list h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  align-items: flex-start;
}

table {
  width: 100% ;
  border-collapse: collapse;
  margin-right: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th, td {
  border: 1px solid #ddd;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  padding-top: 53px;
}

.btn-delete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 17px;
  font-size: 10px;
}

.btn-delete:hover {
  background-color: #d32f2f;
}
