<div class="container">
  <div class="cards">
    <button class="card" (click)="createAppointment('Medicina de Familia / Pediatría')">
      <img src="assets/icons/medicina.png" alt="Medicina de Familia / Pediatría">
      <h3>Medicina de Familia / Pediatría</h3>
      <p>Atención Primaria</p>
    </button>

    <button class="card" (click)="createAppointment('Enfermería')">
      <img src="assets/icons/enfermeria.png" alt="Enfermería">
      <h3>Enfermería</h3>
      <p>Atención Primaria</p>
    </button>

    <button class="card" (click)="createAppointment('Primera consulta')">
      <img src="assets/icons/consulta.png" alt="Primera consulta">
      <h3>Primera consulta</h3>
      <p>Atención Hospitalaria</p>
    </button>

    <button class="card" (click)="createAppointment('Vacuna Coronavirus')">
      <img src="assets/icons/vacuna.png" alt="Vacuna Coronavirus">
      <h3>Vacuna Coronavirus</h3>
      <p>Atención Primaria</p>
    </button>

    <button class="card" (click)="createAppointment('DEPRECAM')">
      <img src="assets/icons/deprecam.png" alt="DEPRECAM">
      <h3>DEPRECAM</h3>
      <p>Detección precoz</p>
    </button>

    <button class="card" (click)="createAppointment('Matrona')">
      <img src="assets/icons/matrona.png" alt="Matrona">
      <h3>Matrona</h3>
      <p>Atención Primaria</p>
    </button>

    <button class="card" (click)="createAppointment('Trabajo social')">
      <img src="assets/icons/trabajo-social.png" alt="Trabajo social">
      <h3>Trabajo social</h3>
      <p>Atención Primaria</p>
    </button>

    <button class="card" (click)="createAppointment('Odontología')">
      <img src="assets/icons/odontologia.png" alt="Odontología">
      <h3>Odontología</h3>
      <p>Atención Primaria</p>
    </button>
  </div>

  <div class="button-pt2">
    <button (click)="navigateToList()" class="view-appointments-button">
      Visualizar citas
    </button>
  </div>
</div>
