<div id="app">
  <nav class="navbar navbar-expand-lg" style="background-color: darkslategrey; font-family: 'Poppins', sans-serif;">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">HealthIE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/home">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login">Login</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/appointments/create">Citas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/medicaments">Medicación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/results">Resultados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
